<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Blog</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4"></div>
    <h2><%= blog.title %></h2>
    <img src="<%= blog.coverImageURL %>" width="550px" class="m-3" />
    <pre><%= blog.content %></pre>
    <img src="<%= blog.createdBy.userProfileURL %>" class="m-1" width="100px" />
    <%= blog.createdBy.fullName %>!

    <div class="container mt-3">
      <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Leave a comment here"
            id="comment" name="content"
          ></input>
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </form>
    </div>

    <div class="container mt-4">
        <% if (locals.comments) { %>
         <h4>Comments (<%= comments.length %>)</h4>
         <% comments.forEach(comment => { %>
            <p><img src="<%= comment.createdBy.userProfileURL %>" width="50px">
                <%= comment.createdBy.fullName %>
            </p>
            <%= comment.comment %>
         <% }) %>
        <% } %>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>