<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blogs</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <% if (locals.blogs && locals.blogs.length > 0) { %>
    <div class="container mt-4">
      <% blogs.forEach(blog => { %>
      <div class="card" style="width: 18rem">
        <img src="<%= blog.coverImageURL %>" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <a href="/blog/<%= blog._id %>" class="btn btn-primary">View Blog</a>
        </div>
      </div>
      <% }) %>
    </div> <% } else { %>
        <h5 class="m-3">You haven't posted any blogs yet!</h5>
        <p class="m-3">Click <a href="/blog/add-new">here</a> to add a new blog!</p>
    <% } %> <%- include('./partials/script') %>
  </body>
</html>
